
*{
    box-sizing: border-box;
}
body{
    background-color: #E8EFF7;
}
.navbar{
    border-bottom: 4px grey solid;
}
.hero-img{
    border-radius: 50%;
}
.about-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 4em;
}
.about-header{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    border-top: 5px black solid;
    padding-top: .5em;
}
.about-h1{
    text-align: center;
    width: 30%;
    border: black 1px solid;
    margin-bottom: 1em;
    
}
.about-photo{
    height:auto;
    width: 100%;
    padding: 1em;
    
}
.about-p{
    margin: 0 auto;
    padding-top: 8%;
    width: 80%;
    
}

.photo-container{
    width: 35%;
    margin-left: 4em;
}
.about-text{
    margin-left: .5em;
    width: 55%;
  
}

.project-header , .skills-header{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    border-top: 5px black solid;
    padding: .5em;
    margin-bottom: 1.5em;
}

.carousel-con{
    width: 75%;
    margin: 0 auto;
}
.car-text-box{
    background-color: black;
}
.car-text{
    color: lightgray;
}

.skills-card{
    margin:0 auto;
}



.contacts{
    display: flex;
    flex-direction: column;
}
.contact-header{
    margin: 0 auto;
    color: white;
}
.contacts p{
    text-align: center;
    margin-bottom: 0;
    margin-top: .5em;
    color: blue;
}
.contact-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.svg-img{
    margin-right: 1rem;
    background-color: #E8EFF7;
    padding: .1rem;
    border-radius: 15%;
}
.svg-img:last-child{
    margin-right: 0;
}

.contact-button{
    margin:0 auto;
}
.btn-ben{
    color: white;
    background-color: tomato;
}

.ben-img{
    border: 10px solid black;
}
